<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <!--FOR REACT-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--FOR CSS MATERIALIZE-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  </head>
  <body>
      <nav class="blue darken-2">
        <div class="navbar-wrapper container">
        <a href="#" class="brand-logo"><%= title %></a>
        
        <ul class="right">
            <li> <a href"#">Home</a></li>
            <li> <a href"#">Products</a></li>
            <li> <a href"#">Contact</a></li>

        </ul>
        </div>
      
      
      </nav>

      <div class="container">
           <div class="row">
                <div class="col 14">
                    <div class="card-panel">
                   
                 <p >
                     
                   <%
blogs.forEach(function(blog)
{
var test = blog['_id'].toHexString();

  %> 
<form></form>
Blog Title:<b> <%= blog['title']; %></b> <form style="float: right; display: inline;" method="post" action="/blog/:id/delete">
          <input name="_id" type="hidden" value="<%= test %>"> </input>
         <input id="delete" value="X" type="submit"> </input>
        </form>
        <form style="float: right; display: inline;" method="get" action="/blog/:id/edit">
          <input name="_id" type="hidden" value="<%= test %>"> </input>
         <input id="edit" value="Edit" type="submit"> </input>
        </form>
                     <br /> 
                     <br /> 
Blog Content: <%= blog['name']; %> <br />
        
        
        <br /><br />
       
        
         
<%
})
%>
                         
                        
                   <!-- Cris REACT-->
       <div id="content"></div>

    <script type="text/jsx">
    
        var CrisComponent = React.createClass({
            render: function() {
                return (
         <p>   
                 <%
blogs.forEach(function(blog)
{
var test = blog['_id'].toHexString();

  %> 
<form></form>
Blog Title:<b> <%= blog['title']; %></b> <form style="float: right; display: inline;" method="post" action="/blog/:id/delete">
          <input name="_id" type="hidden" value="<%= test %>"> </input>
         <input id="delete" value="X" type="submit"> </input>
        </form>
        <form style="float: right; display: inline;" method="get" action="/blog/:id/edit">
          <input name="_id" type="hidden" value="<%= test %>"> </input>
         <input id="edit" value="Edit" type="submit"> </input>
        </form>
                     <br /> 
                     <br /> 
Blog Content: <%= blog['name']; %> <br />
        
        
        <br /><br />
       
        
         
<%
})
%>

        </p>
                );
            }
        });

        React.render(
        <div>
        <CrisComponent />
        </div>,
        document.getElementById('content'));

    </script>
 <a href="/blog/new"> Add New Blog </a>

</p>
                    </div>
                </div>
           </div>     
      
      </div>


 <!--     TESTINGAN
      <a href="/blog/<(removethis)%= test %(removethis)>/delete">  delete</a>

      OUTSIDE FORM TRIAL
          <form method="post", action="/blog/:id/delete" style="display: inline;"> 
                    <input name="_id", type="hidden", value=""blog['id'][toHexString()]"> </input>


                    <input id="delete", value="X", type="submit"> </input>

          </form>  <form method="post", action="/blog/:id/delete" style="display: inline;"> 
                    <input name="_id", type="hidden", value=""blog['id'][toHexString()]"> </input>


                    <input id="delete", value="X", type="submit"> </input>

          </form>
-->

    
     
   
  </body>
</html>